@mixin normalize($time, $delay) {
  animation: normalize $time ease-in-out $delay;
  animation-fill-mode: forwards;
}

@keyframes normalize {
  to {
    transform: none;
    // opacity: 1;
    visibility: visible;
  }
}

@keyframes bg-normalize {
  to {
    transform: none;
    opacity: 0.2;
  }
}

@keyframes slideOutTop {
  to {
    transform: translateY(-110vw);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@keyframes shake {
  from {
    transform: none;
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hide-left,
.hide-right,
.hide-bottom {
  opacity: 0;
}
.show-from-left {
  opacity: 1 !important;
  animation: slideInLeft $slide-time ease-in-out forwards;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
.show-from-right {
  opacity: 1 !important;
  animation: slideInRight $slide-time ease-in-out forwards;
}
@keyframes slideInRight {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
.show-from-bottom {
  opacity: 1 !important;
  animation: slideInBottom $slide-time ease-in-out forwards;
}
@keyframes slideInBottom {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100vh);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

@import "_main_animation";
