// transitions
@mixin normalize {
  animation: normalize 2000ms ease-in-out 2000ms;
  animation-fill-mode: forwards;
}
@mixin bg-normalize {
  animation: bg-normalize 8000ms ease-in-out 1000ms;
  animation-fill-mode: forwards;
}

@keyframes normalize {
  to {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes bg-normalize {
  to {
    transform: none;
    opacity: 0.2;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes slideOutTop {
  to {
    transform: translateY(-110vw);
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes slideInRight {
  from {
    display: none;
    visibility: hidden;
    transform: translateX(100vw);
  }
}
@keyframes slideInLeft {
  from {
    display: none;
    visibility: hidden;
    transform: translateX(-100vw);
  }
}
@keyframes slideInBottom {
  from {
    display: none;
    visibility: hidden;
    transform: translateY(100vh);
  }
}
@keyframes slideInTop {
  from {
    display: none;
    visibility: hidden;
    transform: translateY(-100vh);
  }
}

// main animation
$shape-size: 550px;
$gap: 120px;
.shape {
  // transition: all 500ms ease-in-out;
  width: $shape-size;
  height: $shape-size;
  opacity: 0.3;
  // &:hover {
  //   animation-duration: 3000ms;
  //   transform: translate(sclae(2));
  // }
}
.spinner {
  background: $light;
  border-radius: 50%;
  color: set-text-color($light);
  min-height: 150px;
  min-width: 150px;
  @include flex(column, center);
  i {
    padding: 0.75rem;
    animation: spin 1000ms ease-in-out;
    animation-iteration-count: infinite;
  }
}
@keyframes spin {
  // from {
  //   transform: rotate(0deg);
  // }
  to {
    transform: rotate(360deg);
  }
}
.animation-wrapper {
  transition: transform 1000ms ease-in-out;
  transform: none;
}
#main-animation {
  width: 55vw;
  margin-top: 3vh;
  position: relative;
  animation: spin 20000ms linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  z-index: -1;
  .shapes-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(5);
    @include normalize;
    .square {
      animation: spin 20000ms linear;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      background: url("../img/square.png") no-repeat center center/cover;
      position: absolute;
      top: calc(50% - calc(#{$shape-size}/ 2) - #{$gap});
      left: calc(50% - calc(#{$shape-size}/ 2) - #{$gap});
    }
    //bottom right
    .circle {
      animation: spin 3000ms linear;
      animation-iteration-count: infinite;
      background: url("../img/circle.png") no-repeat center center/cover;
      position: absolute;
      top: calc(50% - calc(#{$shape-size}/ 2) + #{$gap});
      left: calc(50% - calc(#{$shape-size}/ 2) + #{$gap});
    }
    //top left
    .triangle {
      animation: spin 11000ms linear;
      animation-iteration-count: infinite;
      background: url("../img/triangle.png") no-repeat center center/cover;
      position: absolute;
      top: calc(50% - calc(#{$shape-size}/ 2) - #{$gap});
      left: calc(50% - calc(#{$shape-size}/ 2) + #{$gap});
    }
    //bottom left
    .cross {
      animation: spin 9000ms linear;
      animation-iteration-count: infinite;
      background: url("../img/cross.png") no-repeat center center/cover;
      position: absolute;
      top: calc(50% - calc(#{$shape-size}/ 2) + #{$gap});
      left: calc(50% - calc(#{$shape-size}/ 2) - #{$gap});
    }
  }
}
