$transit-time: 300ms;
$short-time: 1000ms;
$long-time: 1500ms;
$short-delay-time: 300ms;
$long-delay-time: 2500ms;
$slide-time: 800ms;
$shape-size: 550px;
$shape-opacity: 0.4;
$gap: 120px;
$animation-shift: 1800ms;
$bg-shift: 1200ms;
$trans-opacity: 0.7;

@mixin flex($direction, $space) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $space;
}

// text stuff
@mixin text-gradient($color-1, $color-2, $rotation) {
  background: -webkit-linear-gradient($rotation, $color-1, $color-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // Above from:
  // https://cssgradient.io/blog/css-gradient-text/
}
@mixin text-shadow($color1, $color2) {
  text-shadow: -0.25rem 0.25rem $color1, 0.25rem -0.25rem $color2;
}
@mixin text-shadow-big($color1, $color2) {
  text-shadow: -0.5rem 0.5rem $color1, 0.5rem -0.5rem $color2;
}

@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #222;
  } @else {
    @return #ccc;
  }
}
