#footer-home {
  transition: all $transit-time ease-in-out;
  transform: translateY(100vh);
  visibility: none;
  margin-top: 15vh;
}
.footer-links {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.arrow-link {
  text-align: center;
  @include flex(column, flex-end);
  i {
    opacity: 0;
    transform: translateY(-2rem) rotate(180deg);
  }
  .key-word,
  i {
    transition-property: opacity, color, transform;
    transition-duration: $transit-time;
    transition-timing-function: ease-in-out;
  }
  &:hover {
    i,
    .key-word {
      opacity: 1;
      transform: none;
      color: $blue;
    }
  }

  &:first-child {
    @include flex(row, flex-start);
    text-align: left;
    a {
      margin-left: 1rem;
    }
    i {
      transform: translateX(2rem) rotate(90deg);
    }
    &:hover {
      .key-word,
      i {
        color: $pink;
        transform: none;
      }
    }
  }
  &:last-child {
    text-align: right;
    @include flex(row, flex-end);
    a {
      margin-right: 1rem;
    }
    i {
      transform: translateX(-2rem) rotate(-90deg);
    }
    &:hover {
      i {
        transform: none;
      }
      .key-word,
      i {
        color: $twitch-color;
      }
    }
  }
}
#page-footer {
  height: 10vh;
  @include flex(row, center);
  margin-top: 10vh;
  margin-bottom: 15vh;
  text-align: center;
  p {
    font-weight: lighter;
  }
}
.footer-scrolled {
  opacity: 0;
  visibility: hidden;
}
