#page-intro {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: $dark;
  // animation: fadeOut $short-time ease-in-out $long-delay-time;
  animation: slideOutTop $short-time ease-in-out $long-delay-time;
  animation-fill-mode: forwards;
  .intro-container {
    @include flex(column, space-around);
    text-align: center;
    margin-top: 5vh;
    height: 85vh;
    .logo {
      visibility: hidden;
      transform: translateX(100vw);
      @include normalize($short-time, $short-delay-time);
      font-size: 10rem;
    }
    .key-word {
      transform: translateX(-100vw);
      @include normalize($short-time, calc(#{$short-delay-time} + 200ms));
      color: $blue;
    }
    .spinner {
      visibility: hidden;
      transform: translateY(100vh);
      @include normalize($short-time, calc(#{$short-delay-time} + 400ms));
      i {
        font-size: 6rem;
      }
    }
  }
}
