@media (max-width: 1024px) {
  #animation-wrapper {
    transition-duration: 550ms !important;
  }
  body {
    margin: 0;
  }
  .back-to-link {
    margin: 0 auto !important;
    i {
      display: none !important;
    }
  }
  .video-display {
    flex-direction: column !important;
  }
  .contact-container {
    flex-direction: column !important;
    .section-text {
      max-width: 100% !important;
    }
    form {
      margin: 3rem auto !important;
      order: 1;
    }
  }
}
@media (max-width: 768px) {
  .header-container {
    padding-top: 1rem;
    // grid-template-columns: 2;
    grid-template:
      "logo-nav social-nav" 1fr
      "main-nav main-nav" 1fr/
      1fr 1fr !important;
    width: 100%;
  }
  .nav-social,
  .main-nav {
    width: 100% !important;
    justify-content: flex-end;
  }
  .main-nav {
    justify-content: center;
  }
  .about-content {
    height: fit-content !important;
    margin-top: 4rem !important;
    grid-template:
      "about-img" 6fr
      "about-text" 2fr
      "about-footer" 1fr/
      1fr;
    align-items: center;
    justify-content: center;
    .img-container {
      width: 90%;
      // margin: auto auto 0 !important;
      align-self: end !important;
      margin: auto;
    }
    .about-title {
      display: none;
    }
    .about-text {
      margin-top: 3rem;
    }
    .about-footer {
      align-self: flex-start;
      margin: 1rem !important;
    }
  }
  .icons-display {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  form {
    margin: 2rem auto 6rem !important;
  }
  #video-section {
    .mini-footer {
      margin-bottom: 6rem !important;
    }
  }
}
@media (max-width: 640px) {
  .about-content {
    height: fit-content !important;
    margin-top: 4rem !important;
    grid-template:
      "about-img" 4fr
      "about-text" 2fr
      "about-footer" 1fr/
      1fr;
    align-items: center;
    justify-content: center;
    .img-container {
      width: 90%;
      // margin: auto auto 0 !important;
      align-self: end !important;
      margin: auto;
    }
    .about-title {
      display: none;
    }
    .about-text {
      margin-top: 3rem;
    }
    .about-footer {
      align-self: flex-start;
      margin-top: 2rem !important;
    }
  }
  #animation-wrapper {
    transform: scale(0.7) translateX(-20%) translateY(-20%);
  }
  body {
    background: linear-gradient(-45deg, #000, #555);
    // background-size: 100vh 100vw;
    // background-position: fixed;
    // height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #bg-wrapper {
    display: none;
  }
  iframe {
    width: calc(560px / 2);
    height: calc(315px / 2);
  }
  #page-contact {
    .section-title {
      font-size: 4rem;
    }
    h3 {
      display: none;
    }
  }
  #header-home {
    height: 30vh;
    // position: relative !important;
  }
  .header-scrolled {
    background: rgba(50, 50, 50, 0.5);
  }
  .header-container {
    padding: 1rem auto 3rem;
    // grid-template-columns: 2;
    grid-template:
      "logo-nav" 1fr
      "social-nav" 1fr
      "main-nav" 1fr/
      1fr !important;
    width: 100%;
    .logo,
    .nav-social,
    .main-nav {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .nav-social {
      width: 90% !important;
      margin: auto;
      li {
        padding: 1rem 0.5rem !important;
      }
    }
    .logo {
      margin-right: 0;
      font-size: 4rem !important;
    }
    .main-nav {
      margin: 1rem auto 4rem;
    }
  }

  .video-container {
    p {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
  .icons-display {
    grid-template-columns: repeat(1, 1fr);
  }
  #page-home {
    height: fit-content !important;
    margin: auto;

    // margin-bottom: 2rem;
  }
  #headlines {
    height: fit-content !important;

    // height: 20vh !important;
    .headline {
      font-size: 2.5rem !important;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
  #footer-home {
    margin-top: -3rem !important;
  }
  .footer-links {
    grid-template-columns: 1fr !important;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    .arrow-link {
      justify-content: center;
      align-items: flex-start;
      margin: 1rem 0 0;
      a {
        margin: 0;
      }
      i {
        display: none;
      }
      text-align: center;
      order: 2;
      &:first-child {
        order: 1;
      }
      &:last-child {
        order: 0;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  form {
    grid-template-columns: repeat(1, 1fr) !important;
    .message,
    .button {
      grid-column: 1 !important;
    }
  }
}
@media (max-width: 320px) {
  .section-title {
    font-size: 2.5rem !important;
  }
}
