// text
.logo {
  font-size: 3rem;
  margin-right: 2rem;
  height: 100%;
  //   align-self: baseline;
}
.container {
  width: 90%;
  margin: auto;
}
// .strict {
//   //container
//   overflow: hidden;
// }
.spinner {
  background: $light;
  border-radius: 50%;
  color: set-text-color($light);
  min-height: 150px;
  min-width: 150px;
  @include flex(column, center);
  i {
    padding: 0.75rem;
    animation: spin 1000ms ease-in-out;
    animation-iteration-count: infinite;
  }
}
$shape-size: 280px;
$gap: 70px;

.shape {
  //   border: 8px solid $primary-4;
  transition: all 500ms ease-in-out;
  width: $shape-size;
  height: $shape-size;
  // border: 1px solid white;
  opacity: 0.6;
  &:hover {
    animation-duration: 3000ms;
    // transform: translate(sclae(2));
  }
}
