// defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // border: 1px solid white;
}

body {
  //   font-family: "Raleway", sans-serif;
  font-family: "Staatliches", cursive;
  background: $dark;
  // color: set-text-color($dark);
  color: #fff;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// text
.logo {
  font-size: 3rem;
  margin-right: 2rem;
  height: 100%;
  .key-word {
    color: #fff;
  }
}
.section-header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;

  .games {
    &:hover {
      color: $primary-3;
    }
  }
  .drinks {
    &:hover {
      color: $pink;
    }
  }
}
.container {
  width: 90%;
  margin: auto;
}

.spinner {
  background: $light;
  border-radius: 50%;
  color: set-text-color($light);
  min-height: 150px;
  min-width: 150px;
  @include flex(column, center);
  i {
    padding: 0.75rem;
    animation: spin 1000ms ease-in-out;
    animation-iteration-count: infinite;
  }
}

// .shadowed {
//   -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
//   filter: url(#drop-shadow);
//   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
//   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
// }
