// font-family: 'Raleway', sans-serif;
// font-family: 'Staatliches', cursive;

// $primary-0: #64f54e;
// $primary-2: #9df88f;
// $primary-3: #2ff50f;
// $green: #20e900;
// $secondary-1-0: #4dd6e9;
// $secondary-1-2: #8be3ef;
// $secondary-1-3: #13cee9;
// $blue: #01b5ce;
// $secondary-2-0: #d4fc50;
// $secondary-2-2: #e4fd92;
// $secondary-2-3: #c5fc10;
// $yellow: #bff900;
// $pink: #fe505d;
// $pink: #fe929a;
// $complement-3: #fe1021;
// $red: #fc0012;

//utilities
@import "colors";
@import "config";
@import "utils";
@import "animations";

//page default stuff
@import "footers";
@import "headers";

// unique pages
@import "intro";
#page-home {
  width: 100vw;
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("../img/intro-bg.jpg") no-repeat center center/cover;
    opacity: 0;
    transform: scale(1.4);
    animation: bg-normalize 5500ms ease-in-out 1500ms;
    animation-fill-mode: forwards;
  }
  .hero-container {
    @include flex(row, space-between);
    margin-top: 8vh;
    height: 50vh;
    .headlines {
      visibility: hidden;
      transform: translateX(-150vw);
      @include normalize;
      @include flex(column, space-around);
      align-items: flex-end;
      height: 100%;
      max-width: fit-content;

      .headline {
        font-size: 4rem;
        transition: all $transit-time ease-in-out;
        .key-word {
          display: inline-block;
          transition: all $transit-time ease-in-out;
        }
        &:hover {
          transform: translateX(-10vw);
          color: #fff;
          .key-word {
            transform: scale(1.7) translateX(2.8vw);
          }
          .twitch {
            @include text-shadow-big($twitch-color, $blue);
          }
          .shag {
            @include text-shadow-big($trans-complement-2, $trans-secondary-1-4);
          }
          .drink {
            @include text-shadow-big($trans-primary-4, $trans-secondary-1-4);
          }
        }
      }
    }
  }
}
#page-about {
  margin-top: 5vh;
  // height: 100vh;
  .key-word {
    color: $blue;
  }

  .about-content {
    @include flex(row, space-between);
    .about-text {
      width: 50%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.5;
      h3 {
        font-size: 3rem;
      }
      .mini-footer {
        color: $blue;
        margin-top: 2.75rem;
        border-top: 3px solid $blue;
      }
    }
    img {
      width: 450px;
      height: auto;
      filter: drop-shadow(-10px 10px $green) drop-shadow(10px -10px $blue);
      transition: all $transit-time ease-in-out;
      &:hover {
        filter: drop-shadow(-30px 30px $pink) drop-shadow(30px -30px $green);
      }
    }
  }
  // .about-icons {
  //   .lead {
  //     text-align: left;
  //   }
  // }
  .icons-display {
    // width: 100%;
    margin-top: 3rem;
    font-size: 1.5rem;
    @include flex(row, space-around);

    .about-icon {
      // background: rgba(0, 0, 0, 0.8);
      // border-radius: 20px;
      // padding: 1.5rem 1rem;
      text-align: center;
      line-height: 1.3;

      @include flex(column, space-around);

      i {
        margin-right: 1rem;
      }
    }
  }
}
