// font-family: 'Raleway', sans-serif;
// font-family: 'Staatliches', cursive;

//utilities
@import "config";
@import "colors";
@import "utils";
@import "animations";

@import "intro";
//page default stuff
@import "footers";
@import "headers";

// unique pages

#page-home {
  position: relative;
  .hero-container {
    @include flex(row, space-between);
    z-index: -1;
    position: relative;
    margin-top: 8vh;
    height: 50vh;
  }
}

@import "headlines";

#page-about {
  margin-top: 5vh;
  a:hover {
    .high-pink {
      color: $yellow;
    }
  }
  .key-word {
    color: $blue;
  }
}
.about-content {
  display: grid;
  grid-template:
    "about-title about-img" 1fr
    "about-text about-img" 1fr
    "about-footer about-img" 1fr/
    3fr 2fr;
  text-align: center;
  justify-content: center;
  align-content: center;
  // border: 1px solid white;

  .about-text {
    align-self: center;

    grid-area: about-text;
    font-size: 1.5rem;
    // border: 1px solid white;
  }
  .about-title {
    align-self: flex-end;
    grid-area: about-title;
    font-size: 3rem;
    margin-bottom: 2rem;
    // border: 1px solid white;
  }
  .about-footer {
    grid-area: about-footer;
    // border: 1px solid white;
  }
  img {
    width: 100%;
    height: auto;
    filter: drop-shadow(-10px 10px $blue) drop-shadow(10px -10px $pink);
    transition: filter $transit-time ease-in-out;
    &:hover {
      filter: drop-shadow(-20px 20px $blue) drop-shadow(20px -20px $pink);
    }
  }
}
.img-container {
  justify-self: right;
  // height: 50vw;
  width: 85%;
  // margin: 0 5vw 0 auto;
  // border: 1px solid white;
  position: relative;
  grid-area: about-img;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  &:hover {
    .right,
    .left {
      visibility: visible;
      opacity: 1;
    }
  }
  .left,
  .right {
    @include text-gradient(red, orange, 45deg);
    position: absolute;
    top: 16%;
    visibility: hidden;
    transition: opacity $transit-time ease-in-out;
    opacity: 0;
    transform-origin: center bottom;

    animation: shake 100ms ease-in-out alternate;
    animation-iteration-count: infinite;
  }
  .left {
    left: 50%;
  }
  .right {
    left: 60%;
  }
}

.icons-display {
  margin-top: 3rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;

  .about-icon {
    text-align: center;
    line-height: 1.7;
    font-size: 1.5rem;
    @include flex(column, space-around);
    transition: transform $transit-time ease-in-out;
    i {
      display: inline-block;
      margin-right: 1rem;
    }
    i,
    .high-pink,
    .meta a,
    .icon-item {
      transition-property: transform, color, border-color;
      transition-duration: $transit-time;
      $transition-timing-function: ease-in-out;
    }

    &:hover {
      transform: scale(1.4);
      i,
      .high-pink,
      .meta a {
        color: $yellow;
      }
      .icon-item {
        border-color: $yellow;
      }
      i {
        transform: scale(1.5) rotate(360deg);
      }
    }
    .icon-item {
      padding: 1rem 0 0.5rem;
      border-top: 1px solid $pink;
      font-weight: lighter;
    }
    .meta a {
      color: $pink;
    }
  }
}

.video-display {
  margin-top: 3rem;
  @include flex(row, space-evenly);

  .video-wrapper {
    // position: relative;
    // overflow: hidden;
    // width: 100%;
    // padding-top: 56.25%;
    margin: 3rem;
    // box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.9);
    border: none;
    outline: none;
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

#page-contact {
  // margin-top: 60vh;
  .key-word {
    color: $blue;
  }
  .contact-container {
    // height: 90vh;
    min-height: fit-content;
    margin-top: 10vh;

    @include flex(row, space-between);
    align-items: flex-start;
    form {
      background: rgba(0, 0, 0, 0.5);
      margin: 2rem 2rem;
      padding: 1rem 0rem;
      border-radius: 10px;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      .message {
        grid-column: 1 / span 2;
        width: 100%;
      }
      // .section-text {
      //   grid-column: 1 / span 2;
      // }
      .button {
        grid-column: 1 / span 2;
        width: 100%;
        align-self: center;
      }
      .input-wrapper {
        @include flex(column, flex-start);
        margin: 1rem 0rem;
        width: 100%;
        // border: 1px solid white;
        input,
        textarea {
          width: 80%;
          padding: 0.5rem 0rem;
          margin: 0.5rem 0rem;
          color: #fff;
          font-size: 1.5rem;
          resize: none;
          font-family: "Railway", sans-serif;
          &:focus {
            border-bottom: 3px solid $pink;
          }
        }
        input {
          text-align: center;
          width: 70%;
          margin: auto;
        }
      }
    }
    .section-text {
      max-width: 35vw;
      margin-top: 0;
    }
  }
}
.bg {
  max-width: 100vw !important;
  overflow-x: hidden;
}
@import "media";
